*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

p{
    color: #ffffff;
    font-size: 48px;
}

button{
    font-size: 20px;
    color: #ffffff;
    background-color: #D4AF37;
    width: 248px;
    height: 29px;
    border-radius: 15px;
    margin:15px 0px;
}

button:hover{
    background-color: #F1D77A;
}

#caixaRegistro{
    width: 312px;
    height: 290px;
    margin: 250px 400px;
}

h1{
    color: #ffffff; 
    font-size: 70px;
    width: 800px;
    height: 168px;
    margin: 0 auto;
    text-align: center;
}

h2{
    color: #ffffff; 
    font-size: 60px;
    text-align: center;
    margin: 200px 100px;
}